/*******************************************************
 *                  Editor Styles                      *
 *                                                     *
 *  CSS for just Backend enqueued after style.scss     *
 *  which makes it higher in priority.                 *
 *                                                     *
 *******************************************************/

.wp-block-evision-blocks-spacer.selected{
	background: #f3f3f3;
}

.wp-block-evision-blocks-first-block{
	border: 1px solid #e4dfdf;
	padding: 10px;
}

.wp-block-evision-blocks-spacer{
	&.selected{
		.components-resizable-box__handle{
			display: block;
		}
	}
}